@import "~@mixin/index";
.route-list {
    display: flex;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    .link-item {
        flex: 1 1 auto;
        font-size: 14px;
        color: rgb(77,85,93);
        &.active {
            color:rgb(240,20,20);
        }
    }
}