/*for 背景图片*/
@mixin bgc-img ($imgUrl) {
    background-image: url($imgUrl + "@2x.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    @media screen and (min-device-pixel-ratio: 3) and (-webkit-min-device-pixel-ratio: 3){
        background-image: url($imgUrl + "@3x.png");
    }
}

@function caculateMarginLeftForStar ($width,$starLength,$window) {
    @warn (($window - $width * 2 * $starLength));
    @return (($window - $width * 2 * $starLength) / ($starLength - 1))/2;
}

/*for Star组件服用*/
@mixin star ($width:20px,$height:19px,$size:48,$window : 375,$starLength:5) {
    width: $width;
    height: $height;
    margin-left: caculateMarginLeftForStar($width,$starLength,$window);
    &:first-child {
        margin-left: 0;
    }
    &.star-item-on {
        @include bgc-img('../images/star#{$size}_on')
    }
    &.star-item-off {
        @include bgc-img('../images/star#{$size}_off')
    }
    &.star-item-half {
        @include bgc-img('../images/star#{$size}_half')
    }
}

/*边框一像素*/
@mixin border-1px($color:#5f656c,$dir:bottom) {
    position: relative;
    &::after {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 0;
        content: ' ';
        line-height: 0;
        @warn $color + "------";
        border-#{$dir}: 1px solid #{$color};
        @media screen and (-webkit-max-device-pixel-ratio: 2),(max-device-pixel-ratio: 2){
            transform: scaleY(.5);
            -webkit-transform: scaleY(.5);
        }
        @media screen and (-webkit-max-device-pixel-ratio: 1.5),(max-device-pixel-ratio: 1.5){
            transform: scaleY(.7);
            -webkit-transform: scaleY(.7);
        }
    }
}